<html>
 
    <head>
        <title>Accueil</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    </head>
    
    <style> @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); </style>
    
    <body>

        <div class="div1">
            <img src="./assets/img/logo-lemontri.png">
        </div>


        <div class="button">
            <div class ="button1">
                <input class="button1" type="button" value="Scanner mon produit">
            </div>

            <div class ="button2">
                <input class="button2" type="button" value="Le Quiz">
            </div>

        </div>

    <BR><BR><BR><BR>

        <div class="sav">
            <div class ="sav1">
                <h2>LE SAVIEZ-VOUS ?</h2>
                <p>Chaque salarié(e) produit entre 120 et 140 kg de déchets par an sur son lieu de travail dont 80 kg de papier (source : ADEME). Près de l’imprimante, à la cafétéria, à la cantine ou encore à la pause-café etc, la palette des déchets générés au bureau tout au long de l’année est très variée !</p>      
            </div>
        </div>

    </body>
</html>